{% extends 'base.html.twig' %}

{% block title %}{{ "login.log_in!" | trans({}, "login") }}{% endblock %}

{% block body %}
    <div class="container h-100 mb-5">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-10 mx-auto mt-5">
                <div class="card">
                    <div class="card-body m-2">
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    {{ "login.logged_in_as" | trans({"%s": app.user.username}, "login") }} <a href="{{ path('app_logout') }}">{{ "login.logout" | trans({}, "login") }}</a>
                                </div>
                            {% endif %}

                            <h1 class="h1 mt-3 card-title">{{  "login.please_sign_in" | trans({}, "login") }}</h1>

                            <label class="form-label mt-3" for="inputEmail">{{ "login.email" | trans({}, "login") }}</label>
                            <input
                                    type="email"
                                    value="{{ last_username }}"
                                    name="email"
                                    id="inputEmail"
                                    class="form-control"
                                    autocomplete="email"
                                    placeholder="{{ "login.email_or_username" | trans({}, "login") }}"
                                    required autofocus>

                            <label class="form-label mt-3" for="inputPassword">{{ "login.password" | trans({}, "login") }}</label>
                            <input
                                    type="password"
                                    name="password"
                                    id="inputPassword"
                                    class="form-control"
                                    autocomplete="current-password"
                                    placeholder="{{ "login.password" | trans({}, "login") }}"
                                    required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                            #}

                            <div class="d-grid">
                                <button class="btn btn-primary btn-lg btn-cyan mt-3" type="submit">
                                    {{ "login.sign_in" | trans({}, "login") }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
