{% extends 'base.html.twig' %}

{% block title %}{{ "home.title" | trans({}, "home") }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="m-5">{{ "home.title" | trans({}, "home") }}</h1>

        <p class="m-5">
            {{ "home.description" | trans({}, "home") }}
        </p>

        <div class="text-center">
            <a class="btn btn-primary btn-cyan"
               href="mailto:dev@goteo.org?&subject={{ "home.mail.subject" | trans({}, "home") | url_encode }}&body={{ "home.mail.body" | trans({}, "home") | url_encode}}">
                {{  "home.mail.description" | trans({}, "home") }}
            </a>
        </div>
    </div>
{% endblock %}
