{% extends 'base.html.twig' %}

{% block title %}{{ "Log in!" | trans({}, "login")}}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto mt-5">
                <div class="card">
                    <div class="card-body m-2">
                        {{ form_start(form) }}
                        <h1 class="h3 mb-3 font-weight-normal">{{ "Please, authorize or refuse" | trans({}, "authorization" ) }}</h1>

                        <div class="form-check">
                            {{ form_label(form.accept) }}
                            {{ form_widget(form.accept, {'attr': {'class': 'form-check-input'}}) }}
                        </div>

                        <div class="form-check">
                            {{ form_label(form.refuse) }}
                            {{ form_widget(form.refuse, {'attr': {'class': 'form-check-input'}}) }}
                        </div>

                        {{ form_widget(form.submit, {'attr': {'class': 'form-control btn-primary btn btn-lg btn-cyan mt-3'}}) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
