{% extends 'base.html.twig' %}

{% block title %}{{ "Log in!" | trans({}, "login")}}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto mt-5">
                <div class="card">
                    <div class="card-body m-2">
                        {{ form_start(form) }}
                            <h1 class="h3 mb-3 font-weight-normal">{{ "Please, authorize or refuse" | trans({}, "authorization" ) }}</h1>

                        {% if client %}
                            <p>
                                {{ "authorization.terms_and_conditions" | trans({'%terms_and_conditions_url%': 'https://participa.goteo.org/pages/terms-and-conditions', '%client_name%': client.getName() }, "authorization") | raw }}
                            </p>
                        {% endif %}

                            {{ form_row(form.accept_or_refuse, {'attr': { 'class': 'form-check'}}) }}

                            {{ form_widget(form.submit, {'attr': {'class': 'form-control btn-primary btn btn-lg btn-cyan mt-5'}}) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
