{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <h1 class="h3 mb-3 font-weight-normal">Please, authorize or refuse</h1>

        {{ form_label(form.accept) }}
        {{ form_widget(form.accept, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.refuse) }}
        {{ form_widget(form.refuse, {'attr': {'class': 'form-control'}}) }}

        {{ form_widget(form.submit, {'attr': {'class': 'form-control'}}) }}
    {{ form_end(form) }}
{% endblock %}
